<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Report_Form.Properties.Settings.C__USERS_ARVIN_DESKTOP_DATABASES_EQUIPMENT_RECORD_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\ARVIN\DESKTOP\DATABASES\EQUIPMENT_RECORD.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Report_Form.Properties.Settings.C__USERS_ARVIN_DESKTOP_DATABASES_TEMP_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\ARVIN\DESKTOP\DATABASES\TEMP.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>